{% extends "personal/header.html" %}
{% block content %}
<!-- /.home-main -->
<div class="container">

  <div class="row">

    <div class="col-sm-2 blog-main">
      <div class="blog-post">
        <h4 class="blog-post-title">All Games</h4> {% for game in content.0 %}
        <h5><a href="/game/{{game.id}}"> {{game.title}}</a></h5> {% endfor %}
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-1 blog-sidebar">
      <div style="border-left:thin #000000 solid; height:900px;" />
      <div class="main-content">

        {% if user.is_authenticated %}
        <div class="featured-games">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Featured Games</h4> {% for game in content.1 %}
            <h5><a href="/game/{{game.id}}"> {{game.title}}</a></h5> {% endfor %}
          </div>
        </div>
        <br> {% endif %}

        {% if user.is_authenticated %}
        <div class="recommended-games">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Recommended Games</h4> {% for game in content.2 %}
            <h5><a href="/game/{{game.id}}"> {{game.title}}</a></h5>
            <!-- <p>Tags:
									{% for tag in game.tag.all %}
										<span class="label label-default">{{tag.name}}</span>
									{% endfor %}
								</p> -->
            {% endfor %}
          </div>
        </div>
        <br> {% endif %}

      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Custom CSS -->
<style>
  .main-content {
    padding-left: 10px;
  }
</style>

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
